<h1>Articles#form</h1>
<p>Find me in app/views/articles/form.html.erb</p>

<%@articles.each do |article|%>
<%= article.tittle %><br/>
<%end%>
<%= image_tag "photo-1472214103451-9374bd1c798e.jpeg" %>
<%# 
 <%= vedio_tag "" %>

<%= link_to "New User", 'new_post'%>
<%=button_to "Logout",logout_path, method: :delete ,data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"}%>